@font-face {
    font-family: 'fonte-titulo';
    src: url('../../fontes/RubikMaps-Regular.ttf') format('woff2'); 
  }
  @font-face {
    font-family: 'fonte-label';
    src: url('../../fontes/Kanit-SemiBold.ttf') format('woff2'); 
  }
body{
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right,  #2f4f4f, #778899);
}

#box-titulo{
    height: 100px;
    text-align: center;
    padding: 30px;
    font-family: 'fonte-titulo';
    color: chartreuse;
}
#formulario1{
    background-color: #fff8dc;
   position: absolute;
    left: 40%;
    top: 30%;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    
}
#formulario2{
    background-color: #fff8dc;
    position: absolute;
    left: 40%;
    top: 60%;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}
#formulario3{
    position: absolute;
    background-color: #fff8dc;
    left: 55%;
    top: 48%;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

.label-formulario{
    font-family: 'fonte-label';
}
.input-formulario{
    font-size: 0.7em;
    width: 100%;
    height: 30px;
}
table {
    background-color: #fff8dc;
    position: absolute;
    top: 90%;
    left: 23%;
    text-align: center;
    width: 100%;
    max-width: 700px;
    margin: auto;
    border-collapse: collapse; 
}

table.custom-table th,
table.custom-table td {
    border: 2px solid #0d0e0f;
   
}


svg{
    height: 20px;
    margin-bottom: 5px;
}
#botao-ad-cliente, #botao-con-cliente{
    width: 13em;
    font-size: 0.8em;
    margin-left: 8px;
}
#botao-ad-produto, #botao-con-produto{
    width: 13em;
    font-size: 0.8em;
    margin-left: 8px;
}
#box-botoes{
    display: block;
    max-width: 20%;
    margin: 0;
}
#box-botoes2{
    display: block;
    max-width: 20%;
    margin: 0;
}
#box-produto{
    display: none;
    max-width: 80%;
    padding: 0;
    position: relative;
    padding-left: 4px;
}
#botao-adicionar{
    width: 65%;
    margin-left: 10px;
}
#botao-estoque{
    width: 65%;
    margin-left: 10px;
}

#box-cliente{
    display: none;
    max-width: 80%;
    padding: 0;
    position: relative;
    padding-left: 4px;
}